
<div class="container-fluid about">
  <div class="row topRow">
  </div>
  <div class="row greyBox">
    <div class="col-md-offset-1 col-md-2">
    <img class="mePic" src="/resources/images/Me.jpg" />
    <h2><a class="aboutA" href="mailto:Sam.k.cooksey@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> | Email</a></h2>
    <h2><a class="aboutA" href="https://www.linkedin.com/in/samuel-cooksey-4b752611b"><i class="fa fa-linkedin-square" aria-hidden="true"></i> | LinkedIn</a></h2>
    <h2><a class="aboutA" href="https://www.github.com/samcooksey"><i class="fa fa-github" aria-hidden="true"></i> | GitHub</a></h2>
      </div>
      <div class="col-md-6">

      <h1>This was built as a capstone project for the full stack web development course at Galvanze by Sam Cooksey</h1>
      <h2>The game was built using Three.js, Node, Express, Postgres, and Angular.</h2>

    </div>
  </div>
</div>
