<div class="container-fluid">

<header-directive></header-directive>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="centered title">
        Set up your Game Below:
      </div>
      <div>
        <form ng-submit="HC.startGame(HC.meName, HC.partnerName, HC.partnerNumber)">
          <label>Your Name: <input type="text" ng-model="HC.meName"/></label></br>
          <div class="disclaimer">
            (You will be outside of the maze helping your partner)
          </div>
          <label>Partner's Name: <input type="text" ng-model="HC.partnerName"/></label></br>
          <div class="disclaimer">
            (Your partner will be navigating the maze from the inside)
          </div>
          <label>Partner's Phone Number<input type="text" ng-model="HC.partnerNumber"/></label></br>
          <div class="disclaimer">
            (Used to send your partner a link to the game via SMS)
          </div>
          <button type="submit">Start Game!</button>
        </form>
    </div>
  </div>
</div>


<footer-directive></footer-directive>
</div>
