<div class="container-fluid">

<header-directive></header-directive>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="centered title">
        Set up your Game Below:
      </div>
      <div>
        <form>
          <label>Your Name: <input type="text"/></label></br>
          <label>Partner's Name: <input type="text"/></label></br>
          <label>Partner's Phone Number<input type="text"/></label></br>
          <div class="disclaimer">
            (used to send link to game via SMS)
          </div>
          Who will be in the maze?<br />
          <label><input type="radio" name="player" value="me"/> You
          <div class="disclaimer inline">
            (only check this if you are both on phones)
          </div>
          </label>
          <label><input type="radio" name="player" value="partner" checked/> Partner</label><br />
          <button type="submit">Start Game</button>
        </form>
    </div>
  </div>
</div>


<footer-directive></footer-directive>
</div>
