<div class="container-fluid">
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1>Click each piece to rotate it. Drag it to the center to form the temple layout!</h1>
  </div>
</div>
  <div class="row">
    <div class="col-md-offset-2 col-md-2">
      <div class="imageTile">
        <img src="{{OC.squares.one.path}}" class="smallPart {{OC.squares.one.color}}" id="part1" draggable/>
      </div>
    </div>
    <div class="col-md-2">
      <div class="imageTile">
        <img src="{{OC.squares.two.path}}" class="smallPart {{OC.squares.two.color}}" id="part2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="imageTile">
        <img src="{{OC.squares.three.path}}" class="smallPart {{OC.squares.three.color}}" id="part3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="imageTile">
        <img src="{{OC.squares.four.path}}" class="smallPart {{OC.squares.four.color}}" id="part4" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-1">
      <form class="submissionForm" ng-submit="OC.submitAnswer(OC.answerOne, 'one')">
        <input type="text" ng-model="OC.answerOne"/>
        <button type="submit" ng-hide="OC.answerCorrectness.one">Submit Code</button>
        <h1>{{OC.puzzles.one.solution}}</h1>
      </form>
      <h2 ng-show="OC.answerCorrectness.one">&check;</h2>
      <h1 ng-hide="OC.answerCorrectness.one">&#65794;</h1>

    </div>
    <div class="col-md-1">
      <img src="resources/textures/stone1.jpg" class="sideTexture" />
    </div>
    <div class="col-md-3 middleContainer">
      <div class="holder" id="upper-left">

      </div>
    </div>
    <div class="col-md-3">
      <div class="holder" id="upper-right">

      </div>
    </div>
    <div class="col-md-1">
      <img src="resources/textures/stone4.png" class="sideTexture" />
    </div>
    <div class="col-md-1">
      <form class="submissionForm" ng-submit="OC.submitAnswer(OC.answerTwo, 'two')">
        <input type="text" ng-model="OC.answerTwo"/>
        <button type="submit" ng-hide="OC.answerCorrectness.two">Submit Code</button>
        <h1>{{OC.puzzles.two.solution}}</h1>
      </form>
      <h2 ng-show="OC.answerCorrectness.two">&check;</h2>
      <h1 ng-hide="OC.answerCorrectness.two">&#65794;</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-1">
      <form class="submissionForm" ng-submit="OC.submitAnswer(OC.answerThree, 'three')">
        <input type="text" ng-model="OC.answerThree"/>
        <button type="submit" ng-hide="OC.answerCorrectness.three">Submit Code</button>
        <h1>{{OC.puzzles.three.solution}}</h1>
      </form>
      <h2 ng-show="OC.answerCorrectness.three">&check;</h2>
      <h1 ng-hide="OC.answerCorrectness.three">&#65794;</h1>
    </div>
    <div class="col-md-1">
      <img src="resources/textures/stone2.jpg" class="sideTexture" />
    </div>
    <div class="col-md-3 middleContainer">
      <div class="holder" id="lower-left">

      </div>
    </div>
    <div class="col-md-3">
      <div class="holder" id="lower-right">

      </div>
    </div>
    <div class="col-md-1">
      <img src="resources/textures/stone3.jpg" class="sideTexture" />
    </div>
    <div class="col-md-1">
      <form class="submissionForm" ng-submit="OC.submitAnswer(OC.answerFour, 'four')">
        <input type="text" ng-model="OC.answerFour"/>
        <button type="submit" ng-hide="OC.answerCorrectness.four">Submit Code</button>
        <h1>{{OC.puzzles.four.solution}}</h1>
      </form>
      <h2 ng-show="OC.answerCorrectness.four">&check;</h2>
      <h1 ng-hide="OC.answerCorrectness.four">&#65794;</h1>
    </div>
  </div>
</div>
<h1>Use the Passcode Chart along with these directions to find the passcodes:</h1>
<h2>Start here for each new challenge</h2>
<h2>What Type of stone is this quarter of the temple made out of?</h2>
<h3><img src="resources/textures/stone1.jpg" class="texture" />
 ? Start on 51 on the Passcode Chart.</h3>
<h3><img src="resources/textures/stone3.jpg" class="texture" />? Start on 59 on the Passcode Chart.</h3>
<h3><img src="resources/textures/stone4.png" class="texture" />? Start on 55 on the Passcode Chart.</h3>
<h3><img src="resources/textures/stone2.jpg" class="texture" />? Start on 63 on the Passcode Chart.</h3>
<h2>What color is the Oracle's view of this quarter</h2>
<h3>Blue? Move four rows down on the Passcode Chart.</h3>
<h3>Green? Move two rows down on the Passcode Chart.</h3>
<h3>Orange? Don't move on the Passcode Chart.</h3>
<h3>Pink? Move two rows up on the Passcode Chart.</h3>
<h1>Once the Operative is inside of the room, use one of the following guides to figure out the final passcode.</h1>
<h2>What type of challege is in the room?</h2>
<div class="row">
  <div class="col-md-offset-1 col-md-2">
    <h2>SPIRAL</h2>
    <h3>if the Spiral rotates counter-clockwise then move up one row. Otherwise stay where you are.</h3>
    <h2>In the center of the spiral should be a rotating cube. What color is it?</h2>
    <h3>Neon-Green? Move left 3.</h3>
    <h3>Neon Blue? Move left 2.</h3>
    <h3>Rainbow color? Move left 1.</h3>
    <h3>Otherwise stay put.</h3>
    <h1>Now enter your passcode</h1>
  </div>
  <div class="col-md-2">
    <h2>FOREST</h2>
    <h2>What kind of leaves are on the trees?</h2>
    <h3>Pine? Move left three.</h3>
    <h3>Autumnal? Move left two.</h3>
    <h3>Snowy leaves? Move left one.</h3>
    <h3>Otherwise stay put.</h3>
    <h2>If there are seven trees then go up 1</h2>
    <h1>Now enter your passcode</h1>
  </div>
  <div class="col-md-2">
    <h2>GLYPH</h2>
    <h3>figure out which three symbols are on it and move accordingly</h3>
    <h4>
    <img class="glyph" src="resources/glyph-symbols/symbol1-solid.png" />
    <img class="glyph" src="resources/glyph-symbols/symbol3-solid.png" />
    <img class="glyph" src="resources/glyph-symbols/symbol5-solid.png" />
    left three
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol7-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol6-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol2-solid.png" />
  left two
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol8-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol4-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol5-solid.png" />
  left one
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol5-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol8-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol2-solid.png" />
  stay put
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol6-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol1-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol7-solid.png" />
  up one, left three
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol4-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol8-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol6-solid.png" />
  up one, left two
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol3-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol6-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol2-solid.png" />
  up one, left one
  </h4>
  <h4>
  <img class="glyph" src="resources/glyph-symbols/symbol7-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol3-solid.png" />
  <img class="glyph" src="resources/glyph-symbols/symbol1-solid.png" />
  up one
  </h4>
  <h1>Now enter your passcode</h1>
  </div>
  <div class="col-md-2">
    <h2>FLOATING TILES</h2>
    <h3>Guide them through the following instructions:</h3>
    <img class="tileInstructions" src="resources/images/tile-instructions.png" />
    <h3>Now back to you. Use the following Chart to figure out what to do next</h3>
    <img class="venn" src="resources/images/tile-chart.png"/>
    <h1>Now enter your passcode</h1>
  </div>
</div>
<img src="resources/graph.png" class="graph" />
<script>
var src;
var images = document.querySelectorAll('.smallPart');
images.forEach(function(part){
  part.addEventListener('dragstart', function(event){
  event.target.style.opacity = "0.5";
  event.dataTransfer.effectAllowed='move';
  event.dataTransfer.setData('text', this.src);
  if(!event.target.rotation){
    event.target.rotation = 0;
  }
  event.dataTransfer.setData('rotation', this.rotation);
  event.dataTransfer.setData('color', this.classList[1]);
  }, false);

  part.addEventListener('dragend', function(event){
    event.target.style.opacity = "1";
    return true;
    // src = '';
  })
  part.addEventListener('click', function(event){
    if(!event.target.rotation){
      event.target.rotation = 90;
    }else{
      event.target.rotation += 90;
    }
    event.target.style.transform = 'rotate(' + event.target.rotation + 'deg)';
  })
});


var holders = document.querySelectorAll('.holder');
holders.forEach(function(holder){
  holder.addEventListener('dragenter', function(event){

    event.preventDefault();
    event.target.style.backgroundColor = 'white';
    return true;

  })
  holder.addEventListener('dragover', function(event){
    event.preventDefault();

  })
  holder.addEventListener('dragleave', function(event){
    event.target.style.backgroundColor = 'lightgrey';
  })
  holder.addEventListener('drop', function(event){
    console.log('drop');
    this.innerHTML = '';
    var data = event.dataTransfer.getData("text");
    var rotation = event.dataTransfer.getData('rotation');
    var image = document.createElement('img');
    var color = event.dataTransfer.getData('color');
    image.src = data;
    image.classList.add('centerImage');
    image.style.transform = 'rotate(' + rotation + 'deg)';
    image.classList.add(color);
    this.appendChild(image);
    event.stopPropagation();
    return false;
  })
})
</script>
