html{
  font-size: .1vw;
}
body{
  padding: 10px;
  /*min-width: 2100px;*/
}
.centered{
  text-align: center;
}
#headerTitle{
  font-size: 100px;
}
.title{
  font-size: 25rem;
}
.disclaimer{
  font-size: 8rem;
  font-weight: normal;

}
.inline{
  display:inline-block
}
.blueprint{
  width: 100%;
}
#maze{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
}
/*.box{
  border: 1px solid black;
  height: 150rem;
}
.middleBox{
  border: 1px solid black;
  height: 450rem;
}
.boxCenter{
  border-bottom: 1px solid black;
  height: 150rem;
}*/

.smallPart{
  height: 150rem;
  margin-top: 10rem;
  cursor: move;

}
.texture{
  height: 25rem;
  margin-bottom: 5px;
}
.sideTexture{
  height: 75rem;
  margin-top: 100rem;
}
.blue{
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}
.orange{
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.green{
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.pink{
  -webkit-filter: hue-rotate(130deg);
  filter: hue-rotate(130deg);
}

.holder.over{
}


.warning{
  color: red;
}

/*body{
  /*background-image: url("underwater.jpg");
  background-size: 100%;*/
  /*padding-top: 500px;
}*/

.graph{
  width: 1000px;
  border: 1px solid black;
}
.graphHolder{
  text-align: center;
}
.textureBack{
  margin: auto;
  height: 750px;
  width: 750px;
  background-size: 100%;
  background-image: url("../resources/images/4textures.png");
  padding: 50px;
}
.mazeBack{
  height: 650px;
  width: 650px;
  /*opacity: .75;*/
  background-size: 100%;
  background-image: url("../resources/images/maze-blueprint.png");
}
.holder{
  height: 321px;
  width: 321px;
  /*background-color: pink;*/
  display: inline-block;
}
#holder1{
  margin-right: 3px;
}
#holder3{
  margin-right: 3px;
  padding-top: 12px;
}
.mazeQuarter{
  height: 315px;
  width: 315px;
  vertical-align: bottom;
  /*opacity: .75;*/
}
.middleCol{
  display: inline-block;
  text-align: center;
  width: 760px;
  vertical-align: top;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: rgba(180,197,228, 0.5);
}
.smallPart{
  height: 200px;
  vertical-align: bottom;
}
.piecesCol{
  text-align: center;
  align-content: center;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-top: 100px;
  /*border: 1px solid black;
  border-radius: 10px;*/
}
.hideable{
  display: none;
}
.sideBar{
  padding-left: 5px;
  padding-right: 5px;
  height: 750px;
  width: 250px;
  background-color: white;
  position: fixed;
  right: -250px;
  top: 0;
  z-index: 5;
  border: 1px black solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(61, 82, 213, 1);
  color: #B4C5E4;
}
.sideBarTab{
  height: 200px;
  width: 50px;
  background-color: white;
  top: 300px;
  right: 0;
  z-index: 5;
  position: fixed;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgba(61, 82, 213, 1);
  color: #B4C5E4;
}
.sideBarOut{
  right: 0;
  animation-duration: 1s;
  animation-name: sideBarSlideOut;
}
.sideBarIn{
  right: -250px;
  animation-duration: 1s;
  animation-name: sideBarSlideIn;
}
.sideBarTabOut{
right: 249px;
animation-duration: 1s;
animation-name: sideBarTabSlideOut;
}
.sideBarTabIn{
right: 0;
animation-duration: 1s;
animation-name: sideBarTabSlideIn;
}
.chart h4{
  /*margin: 0;*/
}
.chart{
  text-align: center;
  height: 450px;
  width: 1100px;
  position: fixed;
  left: 10;
  top: -650px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 4;
  /*padding-top: 15px;*/
  top: -450px;
  background-color: rgba(61, 82, 213, 1);
  color: #B4C5E4;
}
.chartTab{
  position: fixed;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  font-weight: bolder;
  width: 200px;
  height: 50px;
  left: 150px;
  background-color: white;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 4;
  cursor: pointer;
  top: 0;
  background-color: rgba(61, 82, 213, 1);
  color: #B4C5E4;

}
.chartIn{
  top: -450px;
  animation-duration: 1s;
  animation-name: chartSlideOut;
}
.chartOut{
  animation-duration: 1s;
  animation-name: chartSlidein;
  top: 0;
}
.chartTabIn{
  top:0;
  animation-duration: 1s;
  animation-name: chartTabSlideOut;
}
.chartTabOut{
  animation-duration: 1s;
  animation-name: chartTabSlidein;
  top: 450px;
}
.texture{
  height: 50px;
}
.finalButton{
  position: absolute;
  bottom: 5px;
}
.glyph{
  height: 30px;
}
.tileInstructions{
  cursor: pointer;
  width: 100px;
}
.passcodeSubmissionBack{
  height: 250px;
  width: 250px;;
  background-size: 100%;
  background-image: url("../resources/images/4textures.png");
  margin: auto;
}
.submissionHolder{
  width: 120px;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  display: inline-block;
}

.submitInput{
  width: 75px;
}
.instructionsHolder{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 6;
}
.instructionsImage{
  height: 80%;
  margin-top: 20px;
  border: solid black 1px;
}
.newGameForm{
  font-size: 20rem;
}
.correctOrNot{
  display: inline-block;
  width: 125px;
  height: 125px;
  font-size:0;

}
.submitContainWider{
  width: 250px;
  font-size: 0;
}
.correct{
  background-color: green;
  opacity: .75;
}
.incorrect{
  background-color: red;
  opacity: .75;
}
.instructionsPopIn{
  animation-duration: 0.5s;
  animation-name: instructionsPopIn;
}
@keyframes chartSlidein {
  from {
    top: -450px;
  }

  to {
    top: 0;
  }
}
@keyframes chartSlideOut {
  from {
    top: 0;
  }

  to {
    top: -450px;
  }
}
@keyframes chartTabSlidein {
  from {
    top: 0;
  }

  to {
    top: 449px;
  }
}

@keyframes chartTabSlideOut {
  from {
    top: 449px;
  }

  to {
    top: 0;
  }
}

@keyframes sideBarTabSlideOut {
  from {
    right: 0;
  }

  to {
    right: 249px;
  }
}
@keyframes sideBarTabSlideIn {
  from {
    right: 249px;
  }

  to {
    right: 0;
  }
}
@keyframes sideBarSlideOut {
  from {
    right: -250px;
  }

  to {
    right: 0;
  }
}
@keyframes sideBarSlideIn {
  from {
    right: 0;
  }

  to {
    right: -250px;
  }
}

@keyframes instructionsPopIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wholeThing{
  padding-top: 300px;
  width: 1500px;
  margin: auto;
  min-width: 1500px;
}
.passcodes{
  align-content: center;
}
.sideBar h1{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
.sideBar h2{
  font-size: 23px;
  margin: 9px 0 4.5px 0;
}
.sideBar h3{
  font-size: 20px;
  margin: 8px 0 4px 0;
}
.meImage{
  background-image: url("../resources/images/Me.jpg");
}
.finalBTN{
  margin-top: 3px;
  width: 210px;
}
.mePic{
  height: 300px;
}
.topRow{
  margin: 100px;
}
.greyBox{
  background-color: rgba(61, 82, 213, 1);
  padding-top: 20px;
}
body{
  /*background-image: url('../resources/images/seigaiha.png');*/
  background-image: url('../resources/images/sayagata-400px.png');
}
.aboutA{
  color: #B4C5E4;
}
.greyBox{
  color: #B4C5E4;
  padding: 20px;
}
.btn{
  background-color:#B4C5E4 ;
  color: #3C3744;
}
.ROW{
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;

}
.victoryDiv{
  z-index: 10;
  position: fixed;
  top: calc(50vh - 100px);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.innerVictoryDiv{
  height: 200px;
  width: 100%;
  background-color: #3C3744;
  color: white;
}
